.Chatbot_main {
    /* background-color: rgb(0, 0, 0); */
    height: 100vh;
    /* position: fixed; */
    width: 100%;
    overflow: auto;
    /* padding-top: 20px; */
}
.Chatbot_main p{
    margin-bottom: 0px;
    color: white;
}
.title {
    color: rgb(255, 0, 0);
}



/* Chat CSS start */
/* Main Chat Container */
.chatContainer {
    width: 100%;
    height: 100vh;
    /* max-width: 400px; */
    /* height: 600px; */
    background: #000000;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Header */
.header {
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.profileImage {
    background: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profileInfo {
    flex-grow: 1;
}

.profileName {
    font-size: 16px;
    font-weight: bold;
}

.status {
    font-size: 12px;
    color: #b2b2b2;
}

/* Chat Messages */
.chatBody {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* Message Styling */
.message {
    /* max-width: 80%; */
    padding: 8px 12px;
    border-radius: 10px 0px 10px 10px;
    font-size: 14px;
    position: relative;
    margin: 5px 0;
    word-wrap: break-word;
}

/* Sent Messages vd */
.sent {
    background: rgb(255, 255, 255);
    align-self: flex-end;
    text-align: right;
    right: 15px;
}
.sent::after {
    content: "";
    position: absolute;
    top: -4px;
    right: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ffffff;
    transform: rotate(-22deg);
  }
  
  .sent::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #ffffe0;
    transform: rotate(-23deg);

  }




.sent p{
    color: #000000;
}

/* Received Messages */
.received {
    background: rgb(0, 0, 0);
    align-self: flex-start;
    border: 1px solid #939393;
}

/* Timestamp */
.time {
    font-size: 10px;
    color: gray;
    display: block;
    margin-top: 5px;
}

/* Input Area */
.inputContainer {
    display: flex;
    background: white;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.inputContainer input {
    flex-grow: 1;
    border: none;
    padding: 8px;
    font-size: 14px;
    outline: none;
    background: #ffffff;
    border-bottom: 1px solid;
}

.inputContainer button {
    background: none;
    border: none;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.sendIcon{
    width: 50%;
}