.navsection{
    /* position: fixed; */
    /* z-index: 1; */
}
.Navbar {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding:  15px 30px;
    width: 75%;
    /* max-width: 1380px; */
    margin: auto;
    background-color: #ffffff;
    position: fixed;
    /* z-index: 1; */
    right: 0;
    justify-content: space-between;
}

.logo_div {
    width: 16%;
}

.logo_div img {
    width: 100%;
}

.nav {
    width: 80%;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav p {
    font-size: 14px;
    margin-bottom: 0px;
    color: gray;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

.nav p:hover {
    color: black;
    text-decoration: underline;

}

.cart_icon {
    border: 1px solid rgb(229, 229, 229, 1);
    padding: 10px;
    border-radius: 10px;
}
section.navsection {
    position: relative;
    
}


/* Burger menu */
.burger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 768px) {
  
    .Navbar {
        /* width: 100%; */
    }


    .burger {
        display: block;
    }
    
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        width: 100%;
        padding: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        max-width: unset;
    }

    .nav.showMenu {
        display: flex;
    }

    .nav div {
        margin: 10px 0;
        text-align: center;
    }
}
@media (max-width: 767px) {
    .Navbar {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .logo_div {
        width: 45%;
    }
}
